

<header class="bg-blue-900 text-white py-4">
  <div class="container mx-auto flex justify-between items-center px-6">
    <h1 class="text-xl font-bold"><a routerLink="/home">HABITASK S.A.</a></h1>
    <div class="flex items-center">
      <span class="mr-2" ></span>
      <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded"><a routerLink="/user/profile">Perfil</a></button>

      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        Cerrar Sesión
      </button>
    </div>
  </div>
</header>


