<!-- Sidebar con Tailwind CSS -->
<aside class="bg-gray-800 text-white w-64 min-h-screen">
  <div class="py-4 px-6">
    <!-- Logo o Nombre de la Aplicación -->
    <div class="mb-6">
      <a href="#" class="text-white text-2xl font-semibold">HABITASK S.A.</a>
    </div>

    <!-- Lista de Navegación -->
    <nav>
      <ul>
        <!-- Item de Navegación -->
        <li class="mb-3">
          <a routerLink="/" routerLinkActive="bg-gray-900" class="flex items-center py-2 px-3 rounded hover:bg-gray-700">
            <svg class="h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <!-- Icono, puedes cambiarlo -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12h6l6 9v-18l6 9h-6"></path>
            </svg>
            Dashboard
          </a>
        </li>

        <!-- Otros Items de Navegación -->
        <li class="mb-3">
          <a routerLink="/tareas" routerLinkActive="bg-gray-900" class="flex items-center py-2 px-3 rounded hover:bg-gray-700">
            <svg class="h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01"></path>
            </svg>
            Tareas
          </a>
        </li>

        <li class="mb-3">
          <a routerLink="/user/list" routerLinkActive="bg-gray-900" class="flex items-center py-2 px-3 rounded hover:bg-gray-700">
            <svg class="h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <!-- Cambiar el icono según sea necesario -->
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01"></path>
            </svg>
            Usuarios
          </a>
        </li>

        <li class="mb-3">
          <a routerLink="/grafica" routerLinkActive="bg-gray-900" class="flex items-center py-2 px-3 rounded hover:bg-gray-700">
            <svg class="h-5 w-5 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01"></path>
            </svg>
            Grafica
          </a>
        </li>


      </ul>
    </nav>
  </div>
</aside>
