<!-- src/app/register/register.component.html -->
<div class="container mx-auto p-6">
  <form [formGroup]="registerForm" (ngSubmit)="crearUsuario()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
      <input formControlName="name" type="text" placeholder="Your name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"
        [ngClass]="{'border-red-500': campoNoValido('name')}">
      <div *ngIf="campoNoValido('name')" class="text-red-500 text-xs italic">Name is required.</div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
      <input formControlName="email" type="email" placeholder="Email"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"
        [ngClass]="{'border-red-500': campoNoValido('email')}">
      <div *ngIf="campoNoValido('email')" class="text-red-500 text-xs italic">Valid email is required.</div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
      <input formControlName="password" type="password" placeholder="Password"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight"
        [ngClass]="{'border-red-500': campoNoValido('password')}">
      <div *ngIf="campoNoValido('password')" class="text-red-500 text-xs italic">Password is required.</div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="repassword">Repeat Password</label>
      <input formControlName="repassword" type="password" placeholder="Repeat Password"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight"
        [ngClass]="{'border-red-500': contrasenasNoValidas()}">
      <div *ngIf="contrasenasNoValidas()" class="text-red-500 text-xs italic">Passwords must match.</div>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        <input formControlName="terminos" type="checkbox" class="mr-2 leading-tight"
          [ngClass]="{'border-red-500': aceptaTerminos()}">
        Accept Terms & Conditions
      </label>
      <div *ngIf="aceptaTerminos()" class="text-red-500 text-xs italic">You must accept the terms.</div>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Register
      </button>
    </div>
  </form>
</div>
